* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

header {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 1.2rem;
  color: #444444;
}

.about-me {
  text-align: center;
  font-size: 3.6rem;
  height: 80vh;
  line-height: 80vh;
}

footer {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  color: #CCCCCC;
  position: absolute;
  bottom: 0;
  padding: 12px;
  line-height: 1.2rem;
}
